/* Root Variables */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Arizonia&family=Averia+Serif+Libre&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  --theme: #de581e;
  --light: #f5f5f5;
  --light-dark: #c4c4c4;
  --dark: #333;
  --dark-light: #666666;
  --transparent: #f5f5f53f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* anchor style none */
a {
  text-decoration: none;
  color: var(--dark);
}
body {
  background-color: var(--light);
  /* horizontal overflow hidden */
  overflow-x: hidden;
}

/* Utility classes */
/* .h-100vh {
  height: 100vh;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
} */

/* Navigation */
header {
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  transition: 2s ease;
  z-index: 1000;
}
svg.down-icon {
  padding-top: 5px;
}
.headroom-wrapper {
  z-index: 1000;
  position: relative;
}
.scrolled {
  background-color: var(--light);
}
.scrolled nav ul li a {
  color: var(--dark);
}
.original {
  background-color: var(--transparent);
}
.logo img {
  width: 80px;
  border-radius: 10px;
  padding: 10px;
}
nav .logo {
  display: none;
}

nav ul {
  display: flex;
}
nav ul li a {
  color: var(--light);
  display: block;
  padding: 8px 10px;
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--dark);
  transform: scale(1.1);
}
nav ul li.enquire {
  background-color: var(--theme);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--light);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav ul li.enquire svg {
  margin-left: 5px;
  font-size: 1.2rem;
}
/* on hover make the background and text font change with nice animation */

nav ul li.enquire:hover {
  background-color: var(--light);
  color: var(--theme);
  transform: none;
  transform: scale(1.1);
}

nav ul li.enquire a {
  color: var(--light);
  padding: 0;
}
nav ul li.enquire a:hover {
  color: var(--light);
  box-shadow: none;
  transform: none;
}

nav ul li.enquire:hover a {
  color: var(--theme);
}
@media only screen and (max-width: 1410px) {
  nav ul li a {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1330px) {
  nav ul li a {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1100px) {
  nav ul li a {
    padding: 8px 8px;
    transition: 0.2s;
    margin: 0 3px;
    font-size: 0.6rem;
  }
}

nav ul li a.active {
  color: var(--dark);
  text-shadow: #0000004e 0px 0px 1px;
}
.hamburger {
  display: none;
  cursor: pointer;
  height: fit-content;
  padding: 3px 8px;
  transform: scale(1.5);
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger:hover {
  transform: scale(1.8);
}

.submenu {
  position: absolute;
  flex-direction: column;
  width: auto;
  background-color: var(--dark);
  padding: 10px 20px;
  z-index: -999;
  display: none;
  top: 100%;
}
.submenu li {
  margin: 5px 0;
}
.submenu li {
  color: var(--light);
}
.submenu li:hover a {
  color: var(--light);
}
.scrolled nav ul li ul li a {
  color: var(--dark);
}
.scrolled nav ul li ul {
  background-color: var(--light);
}
.scrolled nav ul li ul li a:hover {
  color: var(--theme);
}
.scrolled nav ul li a.active {
  color: var(--theme);
}

nav ul li:hover > .submenu {
  display: block;
  z-index: 1;
  margin-top: 0;
  top: 50px;
}

/* Hero Section Styles */
.hero-wrap {
  height: 100vh;
  margin-top: -70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-wrap .heading {
  font-size: 4rem;
  color: #cecece;
  text-align: center;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin: 20px 0;
  text-transform: capitalize;
}

.hero-wrap .subheading {
  font-size: 40px;
  font-weight: 100;
  color: var(--theme);
  font-family: "Arizonia", cursive;
}
.home-hero .heading-description {
  font-size: 1.5rem;
  color: #cecece;
  text-align: center;
  font-weight: 600;
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 20px;
}

.home-hero a {
  transition: 0.5s;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 15px 35px;
}

.other-hero .heading-description {
  font-size: 1.4rem;
  margin: auto;
  width: 70%;
  color: #cecece;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
  text-shadow: #000000 0px 0px 5px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.offset {
  transition: 0.5s;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 15px 35px;
}
.offset {
  box-shadow: 0.2em 0.2em 0 0 var(--theme), inset 0.2em 0.2em 0 0 var(--theme);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--theme), inset 6em 3.5em 0 0 var(--theme);
}

/* First Info  Section*/
.home-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  margin: 0 auto;
}
.intro-text {
  flex: 0.45;
  text-align: start;
}
.intro-heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 20px;
}
.intro-description {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.intro-img {
  flex: 0.45;
  max-width: 50%;
  display: flex;
}
.intro-img img {
  height: 350px;
  border-radius: 10px;
  object-fit: contain;
  transition: 0.5s;
  filter: grayscale(100%);
}
.intro-img img:hover {
  filter: grayscale(0%);
  scale: 1.05;
}
.intro-text .offset {
  box-shadow: 0.2em 0.2em 0 0 var(--dark), inset 0.2em 0.2em 0 0 var(--dark);
  color: var(--dark-light);
}
.intro-text .offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--dark), inset 6em 3.5em 0 0 var(--dark);
  color: var(--light-dark);
}

.intro-img img:nth-child(2) {
  z-index: 2;
  margin-left: -50px;
  margin-top: 50px;
}
/* Media Queries */
@media only screen and (max-width: 1500px) {
  .intro-img img {
    height: 300px;
  }
}
@media only screen and (max-width: 1350px) {
  .intro-img img {
    height: 250px;
  }
}
@media only screen and (max-width: 1100px) {
  .home-intro {
    height: auto;
  }
  .intro-img img {
    height: 170px;
  }
  .intro-heading {
    font-size: 1.2rem;
  }
  .intro-description {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  .offset {
    font-size: 0.8rem;
    margin-bottom: 10px;
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 700px) {
  .intro-container {
    flex-direction: column;
  }
  .intro-text {
    text-align: center;
    padding: 20px 30px;
  }
  .intro-img {
    margin-top: 20px;
    max-width: 100%;
  }
  .intro-container {
    padding: 50px 0;
  }
  .home-intro {
    height: auto;
  }
}

/* Card */
.card {
  max-width: 320px;
  height: auto;
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.card .card-img img {
  max-width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
.card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin: 15px 0;
  margin-bottom: 25px;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-bottom: var(--theme) 3px solid;
}
.card .card-description {
  font-size: 0.95rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-link.offset {
  transition: 0.5s;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px;
  padding: 10px 25px;
  color: var(--dark) !important;
  font-size: 0.8rem;
}
.card-link.offset:focus {
  box-shadow: 0 0 0 0 var(--theme), inset 6em 3.5em 0 0 var(--theme);
}

.card span {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--theme);
  color: var(--light);
  transition: 0.5s;
}
.card span:hover {
  background-color: var(--light);
  color: var(--theme);
}
.card-bottom {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* .card-bottom {
  margin-left: 10px;
} */

/* Packages tours by experience */
.experience-packages-wrapper {
  margin: 10px auto;
  width: 100%;
  padding: 50px;
  background: linear-gradient(
    180deg,
    rgba(222, 88, 30, 1) 20%,
    rgb(215, 118, 76) 100%
  );
  box-shadow: 0 0 10px 0 var(--dark);
}
.experience-packages-wrapper .packages-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 20px;
  text-align: center;
}
.packages-title svg {
  font-size: 50px;
  translate: 5px 13px;
  color: var(--light);
  transition: 0.5s ease-in-out;
}
.experience-packages-wrapper .packages {
  margin-top: 40px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.experience-packages-wrapper .package-card {
  box-shadow: 0 0 10px 0 var(--dark);
  transition: 0.5s ease-in-out;
}

.experience-packages-wrapper .package-card:hover {
  box-shadow: 0 0 15px 0 var(--theme);
  transform: scale(1.05);
}
.packages-title .link {
  color: var(--light);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 20px;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.packages-title .link:hover {
  color: var(--theme);
  font-size: 2.1rem;
}
@media only screen and (max-width: 1100px) {
  .experience-packages-wrapper {
    padding: 50px 20px;
  }
  .experience-packages-wrapper .packages {
    flex-direction: column;
  }
  .packages-title svg {
    font-size: 40px;
  }
}

/* Slider */
.slider-wrapper {
  width: 80%;
  margin: 50px auto;
}
.slider .card {
  margin: 0 5px;
}
.slider-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin: 0 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: var(--theme) 3px solid;
  border-top: var(--theme) 3px solid;
  margin-bottom: 40px;
  text-align: center;
}
.slider-title-description {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  margin: 0 150px;
  margin-bottom: 40px;
  text-align: center;
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .slider-title-description {
    margin: 0 80px;
  }
}
@media only screen and (max-width: 700px) {
  .slider-title-description {
    margin: 0 50px;
  }
}
@media only screen and (max-width: 570px) {
  .slider-wrapper .slider-title {
    font-size: 1.2rem;
  }
  .slider-wrapper {
    width: 80%;
  }
  .react-multi-carousel-item .card {
    max-width: 100% !important;
  }
  .react-multi-carousel-item .card .card-img img {
    max-width: 100% !important;
  }
  .slider-title-description {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 450px) {
  .slider-title {
    font-size: 1.5rem;
  }
  .slider-title-description {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
}

/* Package list */
.package-list-container {
  margin: 20px auto 50px auto;
  width: 100%;
  padding: 50px;
  background-color: var(--light);
  box-shadow: 0 0 10px 0 var(--dark);
}
.package-list-container .title svg {
  font-size: 4rem;
  translate: 5px 13px;
  transition: 0.5s ease-in-out;
}
.package-list-container .title {
  margin: 50px 100px 50px 100px;
  text-align: center;
  padding-top: 25px;
  border-top: var(--theme) 5px solid;
}
.package-list-container .title-description {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Averia Serif Libre", cursive;
  margin: 25px;
  margin-top: 35px;

  padding: 0 50px;
  text-align: center;
}

.package-list-container .title span {
  margin-left: 15px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.package-list-container .title .title-hide {
  display: none;
}
.package-list-container .packages {
  margin: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-row-gap: 30px;
  justify-content: center;
  align-content: stretch;
}
.package-list-container .packages .package {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.package .package-title {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-right: 50px;
  padding-top: 20px;
  border-top: var(--theme) 5px solid;
}

.package-content .package-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
.package-content .package-description {
  margin-top: 20px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.package-link.offset {
  transition: 0.5s;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 35px;
  color: var(--dark) !important;
  font-size: 0.8rem;
}
.package-link.offset:focus {
  box-shadow: 0 0 0 0 var(--theme), inset 6em 3.5em 0 0 var(--theme);
}

/* Media queries */
@media only screen and (max-width: 1100px) {
  .package-list-container .title span {
    font-size: 2rem;
  }
  .package-list-container .title svg {
    font-size: 3rem;
  }
  .package-list-container .title {
    margin: 50px 30px;
  }
  .package-list-container .packages {
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .package-list-container .packages {
    grid-template-columns: repeat(2, 1fr);
  }
  .package-list-container .packages .package {
    width: 100%;
  }
  .package-list-container .packages .package .package-title {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  /* Only Show the first 8 children of .package-list-container .packages */
  .package-list-container .packages .package:nth-child(n + 9) {
    display: none;
  }
  .package-list-container .title span {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .package-list-container .title svg {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-right: -5px;
  }
  .package-list-container .packages {
    grid-template-columns: repeat(1, 1fr);
  }
  .package-list-container .packages .package {
    width: 100%;
  }
  .package-list-container .packages .package .package-title {
    padding-right: 0px;
  }
  .package-list-container .title {
    margin: 30px 10px;
  }
  .package-list-container .packages {
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .package-list-container {
    padding: 20px;
  }
}

/* Footer */
.footer-contact ul li a {
  color: var(--light);
  text-decoration: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s;
}
.footer-contact ul li a:hover {
  color: var(--theme);
}
.footer-contact ul li {
  transition: 0.5s;
}
.footer-contact ul li:hover {
  transform: translateX(5px);
}

.footer-contact .contact-us,
.footer-contact .contact-us a {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--light);
  transition: 0.5s;
}
h2.contact-us:hover {
  color: var(--theme);
}
.footer-contact .contact-us:hover {
  transform: translateX(5px);
}
.footer-contact .contact-us a:hover {
  color: var(--theme);
}

.footer-contact ul li {
  margin-bottom: 10px;
}
.footer-container {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--dark);
  color: var(--light);
  padding: 50px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* make the last row div take up the available space so there wont be an empty slot */
  grid-auto-rows: minmax(100px, auto);
}
.footer-column .footer-logo img {
  height: 100px;
  object-fit: cover;
  transition: 1s;
}
.footer-column .footer-logo img:hover {
  transform: scale(1.1);
}

.footer-links h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--light);
  transition: 0.5s;
  margin-bottom: 20px;
}
.footer-links ul li a {
  color: var(--light);
  text-decoration: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s;
}
.footer-links ul li {
  margin-bottom: 10px;
}
.footer-links ul li a:hover {
  color: var(--theme);
}
.footer-links ul li a.active {
  color: var(--theme);
}
.footer-links ul li a svg {
  transform: translateY(2px);
  margin-right: 5px;
}
.footer-links ul li {
  padding: 7px;
  /* dark box shadow */
  box-shadow: 0 0 0 0 var(--dark), inset 0 0 0 0 var(--dark);
  transition: 0.5s;
}
.footer-links ul li:hover {
  transform: translateX(5px);
}
.footer-social h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--light);
  transition: 0.5s;
  margin-bottom: 20px;
}
.footer-social ul li a {
  color: var(--light);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s;
}
.footer-social ul li a span {
  font-size: 1rem;
  margin-left: 5px;
  transition: 0.5s;
}
.footer-social ul li {
  margin-bottom: 15px;
}
.footer-social ul li a:hover {
  font-size: 2.5rem;
}
.footer-social ul li:hover span {
  font-size: 1.2rem;
}
.footer-social ul li:nth-child(1) a:hover {
  color: #3b5998;
}
.footer-social ul li:nth-child(2) a:hover {
  color: #e4405f;
}
.footer-social ul li:nth-child(3) a:hover {
  color: #55acee;
}
.footer-social ul li:nth-child(4) a:hover {
  color: #dd4b39;
}
/* Media queries */
@media only screen and (max-width: 1000px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .package-list-container .title .title-hide {
    display: block;
  }
  .package-list-container .title svg {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 40px;
  }
}

/* Image Gallery */
.gallery-container {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
.gallery-container .gallery-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 20px;
}

.ctr-accordion {
  max-width: 75%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  gap: 20px;
  overflow: hidden;
  margin: 50px auto;
}

.tab {
  position: relative;
  width: 20%;
  height: inherit;
  padding: 20px;
  background: rgb(150, 150, 150);
  cursor: pointer;
  transition: width 0.5s ease;
  border-radius: 25px;
}

.tab img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: grayscale(100%);
  transition: filter 1s ease;
}
.tab .sudo-description {
  position: absolute;
  top: 0%;
  margin-top: 15px;
  right: 20%;
  width: fit-content;
  height: 65vh;
  color: var(--light);
  font-size: 3rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  height: auto;
  border-radius: 25px;
  opacity: 1;
  writing-mode: vertical-rl;
  transition: all 0.5s ease;
}
.tab:first-child .sudo-description {
  top: 5%;
}

.tab .description {
  position: absolute;
  top: 20vh;
  left: calc(50% - 40%);
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  opacity: 0;
}
.tab .description span {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.tab:hover img {
  opacity: 0.8;
  filter: grayscale(0%);
}

.tab:hover {
  width: 80%;
}
.tab:hover .description {
  opacity: 1;
}
.tab:hover .sudo-description {
  opacity: 0;
}
.tab:hover ~ .tab .sudo-description {
  right: 2%;
}

@media (max-width: 768px) {
  .ctr-accordion {
    flex-direction: column;
    height: auto;
  }
  .tab {
    width: 100%;
    height: 15vh;
    transition: 0.5s;
  }
  .tab:hover {
    height: 60vh;
    width: 100% !important;
  }
  .tab:hover .description {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
  }
  .tab .sudo-description {
    writing-mode: horizontal-tb;
    font-size: 1.8rem;
    margin-right: 5%;
    right: 0;
    left: 5%;
    padding: 10px;
    top: 15px;
    margin-top: 0;
  }
}
@media (max-width: 1000px) {
  .tab .sudo-description {
    font-size: 1.8rem;
  }
}
@media (max-width: 320px) {
  .tab:hover {
    height: 80vh;
  }
}
/* Trip Planner */
.planner-container {
  margin: 10px auto;
  width: 100%;
  padding: 50px;
  background: linear-gradient(
    180deg,
    rgba(222, 88, 30, 1) 20%,
    rgb(215, 118, 76) 100%
  );
  box-shadow: 0 0 10px 0 var(--dark);
  text-align: center;
}
.planner-container .planner-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--light);
  margin-bottom: 20px;
}
.planner-container .planner {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  gap: 20px;
  overflow: hidden;
  margin: 50px 100px;
}
.planner-container .planner .planner-item {
  position: relative;
  width: 33.33%;
  height: 70vh;
  padding: 20px;
  overflow: hidden;
  background: rgb(150, 150, 150);
  cursor: pointer;
  transition: width 0.5s ease;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.planner-container .planner .planner-item img {
  position: absolute;
  transform: scale(1.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.planner-container .planner .planner-item div {
  /* blur effect here */
  backdrop-filter: invert(45%);
  border-radius: 25px;
  padding: 30px;
  width: 90%;
  text-align: start;
  color: var(--light);
  transition: all 0.5s ease;
}
div .planner-item-title {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--light);
}
div .planner-item-description {
  font-size: 1rem;
  font-weight: 704000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.planner-btn.offset {
  margin-top: 0;
  color: var(--dark);
}
.planner-btn.offset {
  border: 0;
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}
.planner-btn.offset:hover {
  color: var(--light);
}
.planner-btn.offset:focus {
  box-shadow: 0 0 0 0 var(--theme), inset 6em 3.5em 0 0 var(--theme);
}

.planner-container .planner .planner-item:hover div {
  transform: scale(1.1);
}
.planner-container .planner .planner-item:hover img {
  transform: scale(1);
}

/* Media queries */
@media only screen and (max-width: 1500px) {
  .planner-container .planner .planner-item {
    width: 50%;
  }
  .planner-container .planner {
    margin: 50px 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .planner-container .planner .planner-item {
    width: 85%;
    height: 50vh;
  }
  .planner-container .planner {
    flex-direction: column;
    margin: 50px 20px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .planner-container .planner .planner-item {
    width: 100%;
    height: 60vh;
  }
  .planner-container .planner {
    flex-direction: column;
    margin: 50px 20px;
    align-items: center;
    justify-content: center;
  }
  .planner-container {
    padding: 20px;
  }
  div .planner-item-title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 450px) {
  .planner-container {
    padding: 10px;
  }
  .planner-container .planner .planner-item {
    height: 60vh;
  }
  .planner-container .planner-title {
    font-size: 1.5rem;
    padding-top: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .planner-container .planner .planner-item {
    height: 80vh;
  }
}

/* Carousel */
.carousel-wrapper {
  position: relative;
  width: 50%;
  margin: 50px auto;
  box-shadow: 0 0 10px 0 var(--dark);
  border-radius: 15px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.react-multi-carousel-track {
  align-items: stretch;
}

/* media queries */

@media only screen and (max-width: 1350px) {
  .carousel-wrapper {
    margin: 100px auto;
  }
}
@media only screen and (max-width: 1150px) {
  .carousel-wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 850px) {
  .carousel-wrapper {
    margin: 50px auto;
    width: 80%;
  }
}

/* Poloroid */
.polaroid-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.polaroid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.polaroid-parent .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--light);
}
.polaroid {
  border: 1px solid var(--light);
  width: 28%;
  padding: 15px;
  margin: 50px 0;
  background-color: var(--theme);
  transition: all 0.5s ease;
  color: var(--light);
}
.polaroid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  object-position: center;
}
.polaroid div {
  padding: 10px;
}
.polaroid-title {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 5px solid var(--light);
}
.polaroid-description {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.polaroid:nth-child(1) {
  translate: 50px;
  transform: rotate(4deg);
  z-index: 0;
}
.polaroid:nth-child(1):hover {
  transform: scale(1.02) rotate(-4deg);
  box-shadow: 0 0 10px 0 var(--dark);
  z-index: 2;
}
.polaroid:nth-child(2) {
  /* transform: rotate(1deg); */
  z-index: 1;
}
.polaroid:nth-child(2):hover {
  transform: scale(1.02) rotate(2deg);
  box-shadow: 0 0 10px 0 var(--dark);

  z-index: 1;
}
.polaroid:nth-child(3) {
  translate: -50px;
  transform: rotate(-2deg);
  z-index: 0;
}
.polaroid:nth-child(3):hover {
  transform: scale(1.02) rotate(4deg);
  box-shadow: 0 0 10px 0 var(--dark);
  z-index: 1;
}

/* Media queries */
@media only screen and (max-width: 1000px) {
  .polaroid {
    width: 33%;
  }
}
@media only screen and (max-width: 800px) {
  .polaroid {
    margin-top: 10px;
    width: 60%;
    translate: 0 !important;
    transform: rotate(0) !important;
  }
  .polaroid-parent .title {
    /* font-size: 1.5rem; */
    padding: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .polaroid {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .polaroid {
    width: 90%;
  }
}

/* Contact */

.contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin-bottom: 50px;
  backdrop-filter: opacity(20%);
}

.contact-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(80px);
  opacity: 0.8;
  z-index: -1;
}
.contact-box {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.contact-box .left {
  background-size: cover;
  height: 100%;
}

.contact-box .right {
  padding: 25px 40px;
}

.contact-box .right h2 {
  position: relative;
  font-family: "Averia Serif Libre", cursive;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--theme);
  width: fit-content;
}

.field {
  width: 100%;
  border: 2px solid var(--dark-light);
  outline: none;
  background-color: var(--light);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;

  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-box .right textarea {
  min-height: 150px;
}

.contact-box .right .offset {
  margin-top: 10px;
  transition: 0.5s;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 60px;
  color: var(--dark) !important;
  font-size: 0.8rem;
  border: 0;
  background-color: white;
}

.contact-box .right .offset:focus {
  box-shadow: 0 0 0 0 var(--theme), inset 6em 3.5em 0 0 var(--theme);
}

.field:focus {
  border: 2px solid var(--theme);
  background-color: #fff;
}
.contact-box .right textarea {
  resize: none;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left .contact-info-wrapper {
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  background-color: rgba(10, 10, 10, 0.322);
  backdrop-filter: blur(2px);
  /* border-radius: 25px; */
  color: var(--light);
  text-align: start;
}
.left .contact-info-wrapper .info-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--theme);
  width: fit-content;
}
.left .contact-info-wrapper .info {
  width: fit-content;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  border-radius: 10px;
}
.left .contact-info-wrapper .info .title {
  font-size: 1.2rem;
}
.left .contact-info-wrapper .info svg {
  margin-right: 5px;
  font-size: 1.5rem;
}
.left .contact-info-wrapper .info a {
  color: var(--light);
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
  font-size: 1rem;
}

.left .contact-info-wrapper .info:hover {
  /* color: var(--theme); */
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
/* .left .contact-info-wrapper .info:hover a {
  color: var(--theme);
} */

@media screen and (max-width: 1350px) {
  .contact-container {
    padding: 20px 50px;
  }
  .contact-box {
    max-width: 90%;
  }
}
@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
  .left .contact-info-wrapper {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .contact-box {
    max-width: 90%;
  }
}
@media screen and (max-width: 630px) {
  .contact-box {
    max-width: 100%;
  }
  .left .contact-info-wrapper .info .title {
    font-size: 1rem;
  }
  .left .contact-info-wrapper .info svg {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 545px) {
  .left .contact-info-wrapper {
    padding: 20px;
  }
  .left .contact-info-wrapper .info-title {
    font-size: 1.5rem;
  }
  .left .contact-info-wrapper .info a {
    font-size: 0.7rem;
  }
  .left .contact-info-wrapper .info .title {
    font-size: 0.9rem;
  }
  .left .contact-info-wrapper .info svg {
    font-size: 1rem;
  }
  .contact-box .right h2 {
    font-size: 1.5rem;
  }
  .field {
    font-size: 0.8rem;
  }
  .contact-box .right .offset {
    font-size: 0.7rem;
    padding: 10px 40px;
  }
}
@media screen and (max-width: 445px) {
  .left .left .contact-info-wrapper {
    padding: 10px;
  }
  .left .contact-info-wrapper .info-title {
    font-size: 1.2rem;
  }
  .left .contact-info-wrapper .info a {
    font-size: 0.5rem;
  }
  .left .contact-info-wrapper .info .title {
    font-size: 0.7rem;
  }
  .left .contact-info-wrapper .info svg {
    font-size: 0.8rem;
  }
  .contact-container {
    padding: 20px 20px;
  }
  div.right {
    padding: 20px !important;
  }
}

.inset-blurr:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(80px);
  opacity: 0.8;
  z-index: -1;
}

/* Contact Map */

.contact-map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.contact-map iframe {
  width: 100%;
  height: 70vh;
  border: none;
  filter: grayscale(0.5);
  transition: all 0.2s ease-in-out;
}
